{% extends "helpdesk/base.html" %}
{% load i18n %}

{% block helpdesk_title %}{% if preset.id %}{% translate "Edit Pre-set Reply" %}{% else %}{% translate "Create Pre-set Reply" %}{% endif %}{% endblock helpdesk_title %}

{% block helpdesk_breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'helpdesk:list' %}">{% translate "Tickets" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'helpdesk:preset_list' %}">{% translate "Pre-set Replies" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">
    {% if preset.id %}{% translate "Edit" %}{% else %}{% translate "Create" %}{% endif %}
  </li>
{% endblock helpdesk_breadcrumb %}

{% block helpdesk_body %}
  <h1 class="h3 mb-3">{% if preset.id %}{% translate "Edit Pre-set Reply" %}{% else %}{% translate "Create Pre-set Reply" %}{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
      <a class="btn btn-secondary" href="{% url 'helpdesk:preset_list' %}">{% translate "Cancel" %}</a>
    </div>
  </form>
{% endblock helpdesk_body %}
